@model UserEditViewModel

@{
    ViewData["Title"] = "Update Profile";
}

<div class="col-md-9">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><h4>Edit</h4></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="input-group mb-3">
                            <label asp-for="ProfileImage"></label>
                            <input type="file" name="image" accept=".png,.jpg,.jpeg,.gif,.tif">
                            @if (this.TempData.ContainsKey("Error"))
                            {
                                <span class="text-danger mt-3">@this.TempData["Error"]</span>
                            }
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.FirstName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.FirstName" class="form-control">
                                <span asp-validation-for="@Model.FirstName" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.LastName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.LastName" class="form-control">
                                <span asp-validation-for="@Model.LastName" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</div>
