@model UserProfileViewModel

@{
    ViewData["Title"] = "My profile";
}

<div class="row">
    <div class="col-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    @{
                        var base64 = Convert.ToBase64String(Model.ProfileImage);
                        var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    }

                    <img class="profile-user-img img-fluid img-circle" src="@imgSrc" alt="User profile picture">
                </div>
                @*<h3 class="profile-username text-center">Nina Mcintire</h3>
                <p class="text-muted text-center">Software Engineer</p>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
            </div>

        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><h4>My Profile</h4></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="form-group row">
                            <label asp-for="@Model.FirstName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <h3>@Model.FirstName</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active">
                        <div class="form-group row">
                            <label asp-for="@Model.LastName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <h3>@Model.LastName</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active">
                        <div class="form-group row">
                            <label asp-for="@Model.UserName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <h3>@Model.UserName</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active">
                        <div class="form-group row">
                            <label asp-for="@Model.Email" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <h3>@Model.Email</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <a asp-controller="Account" asp-action="Edit" class="btn btn-block btn-primary btn-sm">Edit</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
