@using System.Text.Json;
@using TopCourses.Core.Models.Course;
@using TopCourses.Core.Models.Topic
@using TopCourses.Infrastructure.Data.Models.enums;
@model AddCourseViewModel

@{
    ViewData["Title"] = "Create Course";
}

<div class="card card-indigo">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <form asp-controller="Course" id="idForm" method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle"></label>
                <input asp-for="Subtitle" class="form-control" placeholder="Subtitle" />
                <span asp-validation-for="Subtitle" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Image Url" />
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals"></label>
                <textarea asp-for="Goals" class="form-control" placeholder="Goals"></textarea>
                <span asp-validation-for="Goals" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirements"></label>
                <textarea asp-for="Requirements" class="form-control" placeholder="Requirements"></textarea>
                <span asp-validation-for="Requirements" class="small text-danger"></span>
            </div>
            <div class="row">
                <div class="col md-4">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="form-label"></label>
                        <select asp-for="CategoryId" class="form-select">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Title</option>
                            }
                        </select>
                        <span asp-validation-for="CategoryId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col md-4">
                    <div class="form-group">
                        <label asp-for="LanguageId" class="form-label"></label>
                        <select asp-for="LanguageId" class="form-select">
                            @foreach (var language in Model.Languages)
                            {
                                <option value="@language.Id">@language.Title</option>
                            }
                        </select>
                        <span asp-validation-for="LanguageId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col md-4">
                    <div class="form-group">
                        <label asp-for="Level" class="form-label"></label>
                        <select asp-for="Level" asp-items="Html.GetEnumSelectList<Level>()" id="courseLevel" class="form-select"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" id="courseDescription" rows="3"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div id="topics" style="display: none">
                <div class="card card-default col-md-8">
                    <div class="card-header bg-indigo">
                        <h3 class="card-title ">Add Topic</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Topic Title</label>
                                <input id="topicTitle" class="form-control" />
                                <label>Topic Description</label>
                                <input id="topicDescription" class="form-control" />
                            </div>
                        </div>
                        <div class="row" id="videoInputs" style="display: none">
                            <div class="col-md-12">
                                <label>Video Title</label>
                                <input id="videoTitle" class="form-control" />
                                <label>Video Url</label>
                                <input id="videoUrl" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" id="saveVideo" class="btn btn-primary" style="display: none">Save Video</button>
                            <button type="button" id="addVideo" class="btn btn-primary">Add Video</button>
                        </div>
                        <div id="topicBtns" class="row">
                            <button type="button" id="createTopic" class="btn btn-primary">Create Topic</button>
                            <button type="button" id="cancelTopic" class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </div>
                <div id="createdVideos">
                    <ul id="videoList">
                    </ul>
                </div>
            </div>
            <button id="show" type="button" class="btn btn-primary">Add Topic</button>

            @*<div class="form-group">
                <div class="card card-default">
                    <div class="card-header bg-indigo">
                        <h3 class="card-title ">Add Section</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="sectionBody" class="card-body">
                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" asp-action="CreateSection" value="Add Topic" />

                        </div>
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" id="price" class="form-control" />
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
        </div>

        <div class="card-footer">
            <input type="submit" class="btn btn-primary" asp-action="Add" value="Create Course" />
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/js/addCourse.js"></script>
}