@model AddCourseViewModel

@{
    ViewData["Title"] = "Create Course";
}

<div class="card card-indigo">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <form asp-controller="Course" id="idForm" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle"></label>
                <input asp-for="Subtitle" class="form-control" placeholder="Subtitle" />
                <span asp-validation-for="Subtitle" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input type="file" form="idForm" name="image" accept=".png,.jpg,.jpeg,.gif,.tif" multiple>
                @if (this.TempData.ContainsKey("Error"))
				{
					<span class="text-danger mt-3">@this.TempData["Error"]</span>
				}
            </div>
            <div class="form-group">
                <label asp-for="Goals"></label>
                <textarea asp-for="Goals" class="form-control" placeholder="Goals"></textarea>
                <span asp-validation-for="Goals" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirements"></label>
                <textarea asp-for="Requirements" class="form-control" placeholder="Requirements"></textarea>
                <span asp-validation-for="Requirements" class="small text-danger"></span>
            </div>
            <div class="row">
                <div class="col md-3">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="form-label"></label>
                        <select asp-for="CategoryId" class="form-select">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Title</option>
                            }
                        </select>
                        <span asp-validation-for="CategoryId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col md-3">
                    <div class="form-group">
                        <label asp-for="SubCategoryId" class="form-label"></label>
                        <select asp-for="SubCategoryId" class="form-select">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Title</option>
                            }
                        </select>
                        <span asp-validation-for="SubCategoryId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col md-3">
                    <div class="form-group">
                        <label asp-for="LanguageId" class="form-label"></label>
                        <select asp-for="LanguageId" class="form-select">
                            @foreach (var language in Model.Languages)
                            {
                                <option value="@language.Id">@language.Title</option>
                            }
                        </select>
                        <span asp-validation-for="LanguageId" class="small text-danger"></span>
                    </div>
                </div>
                <div class="col md-3">
                    <div class="form-group">
                        <label asp-for="Level" class="form-label"></label>
                        <select asp-for="Level" asp-items="Html.GetEnumSelectList<Level>()" id="courseLevel" class="form-select"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" id="courseDescription" rows="3"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            <div id="curriculum">
                <div class="card card-indigo">
                    <div class="card-header">
                        <h3 class="card-title">Course Curriculum</h3>
                    </div>
                    <div class="card-body" style="height: 600px; overflow-y: scroll">
                        <div id="topic-container">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="add-topic" class="btn-primary">Add Topic</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" id="price" class="form-control" />
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
        </div>

        <div class="card-footer">
            <input type="submit" class="btn btn-primary" asp-action="Add" value="Create Course" />
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script>
        $(document).ready(function AddTopicSection() {
            let counter = 0;
            $("#add-topic").click(function (e) {
                e.preventDefault();
                let topicName = `Curriculum[${counter}]`;
                let lastVideoCounter = 0;
                $("#topic-container").append(`<div class="col">
                                                          <div class="card card-indigo">
                                                              <input name="curriculumName" value="${topicName}" hidden />
                                                              <div class="card-header">
                                                              <input name="last-video-counter" value="${lastVideoCounter}" hidden />
                                                                <label>Topic Title:</label>
                                                                <input class="form-control" name="${topicName}.Title" />
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <label>Topic Description: </label>
                                                                    <textarea class="form-control" name="${topicName}.Description"></textarea>
                                                                </div>
                                                            </div>
                                                          <div>
                                                              <div class="col-12 d-flex justify-content-center">
                                                                 <h4><strong>Files:</strong></h4>
                                                              </div>
                                                              <div class="col-12 d-flex justify-content-center">
                                                                 <input type="file" form="idForm" name="${topicName}.Files" multiple>
                                                              </div>
                                                          </div>
                                                          <div name="video-container">
                                                              <div class="col-12 d-flex justify-content-center">
                                                                  <h4><strong>Videos:</strong></h4>
                                                              </div>
                                                         </div>
                                                      <div class="card-footer">
                                                          <button name="add-video" class="btn-primary">Add Video</button>
                                                      </div>`);
                counter++;
            });
            $(document).on('click', 'button[name="add-video"]', function (e) {
                e.preventDefault();
                let parent = $(this).parent().parent();
                let topicNameValue = parent.children('input[name="curriculumName"]').val();
                let lastVideoCounterElement = parent.children().children('input[name="last-video-counter"]');
                let lastVideoCounterValue = Number(lastVideoCounterElement.val());
                let videoContainer = parent.children('div[name="video-container"]')
                    .append(`<div class="card-body">
                                 <div class="col-12">
                                 <div class="form-group">
                                 <label>Video Title:</label>
                                         <input class="form-control" name="${topicNameValue}.Videos[${lastVideoCounterValue}].Title" />
                                 </div>
                                 <div class="form-group">
                                 <label>Video Url:</label>
                                 <input class="form-control" name="${topicNameValue}.Videos[${lastVideoCounterValue}].VideoUrl" />
                                 </div>
                                 </div>
                                 </div>`);
                lastVideoCounterElement.val(++lastVideoCounterValue);
            });
        });
    </script>
}