@using TopCourses.Core.Models.Section
@model AddSectionModel

@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Section" asp-action="AddSection" method="post">
    <div class="card card-default col-md-8">
        <div class="card-header bg-indigo">
            <h3 class="card-title ">Add Section</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="@Model.Title"></label>
                    <input asp-for="@Model.Title" class="form-control" />
                    <label asp-for="@Model.VideoUrl"></label>
                    <input asp-for="@Model.VideoUrl" class="form-control" />
                    <label asp-for="@Model.Description"></label>
                    <input asp-for="@Model.Description" class="form-control" />
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Create Section</button>
            </div>
        </div>
    </div>
</form>