@using TopCourses.Core.Models.Topic
@model AddSectionModel

@{
    ViewData["Title"] = "Test";
}

<h1>@ViewData["Title"]</h1>

<div id="test" style="display: none">
    <div class="card card-default col-md-8">
        <div class="card-header bg-indigo">
            <h3 class="card-title ">Add Section</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="@Model.Title"></label>
                    <input asp-for="@Model.Title" id="topicTitle" class="form-control" />
                    <label asp-for="@Model.Description"></label>
                    <input asp-for="@Model.Description" id="topicDescription" class="form-control" />
                </div>
            </div>
            <div class="row" id="videoInputs" style="display: none">
                <div class="col-md-12">
                    <label asp-for="@Model.Video.Title" ></label>
                    <input asp-for="@Model.Video.Title" id="videoTitle" class="form-control" />
                    <label asp-for="@Model.Video.VideoUrl"></label>
                    <input asp-for="@Model.Video.VideoUrl" id="videoUrl" class="form-control" />
                </div>
            </div>
            <div class="row">
                <button type="button" id="saveVideo" class="btn btn-primary" style="display: none">Save Video</button>
                <button type="button" id="addVideo" class="btn btn-primary">Add Video</button>
            </div>
            <div id="topicBtns" class="row">
                <button type="button" id="createTopic" class="btn btn-primary">Create Topic</button>
                <button type="button" id="cancelTopic" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
    <div id="createdVideos">
        <ul id="videoList">
            
        </ul>
    </div>
</div>
<button id="show" type="button" class="btn btn-primary">Add Topic</button>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/js/site.js"></script>
}
