@model CourseDetailsViewModel

<div class="container border-dark">
    <div class="jumbotron bg-indigo text-warning">
        <h1>@ViewData["Title"]</h1>
        <h3>@ViewData["Subtitle"]</h3>
    </div>
</div>
<div class="container border-dark">
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <div class="card card-indigo">
                    <div class="card-header">
                        <h3 class="card-title">What you'll learn</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            @Model.Goals
                        </p>
                    </div>
                </div>
                <div class="card card-indigo">
                    <div class="card-header">
                        <h3 class="card-title">Requirements</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            @Model.Requirements
                        </p>
                    </div>
                </div>
                <div class="card card-indigo">
                    <div class="card-header">
                        <h3 class="card-title">Course description</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
            </div>
            <div class="card card-indigo">
                <div class="card-header">
                    <h3 class="card-title">Course Curriculum</h3>
                </div>
                <div class="card-body" style="height: 300px; overflow-y: scroll">
                    <div class="col">
                        @foreach (var topic in Model.Curriculum)
                        {
                            <div class="card card-indigo">
                                <div class="card-header">
                                    <h3 class="card-title"><strong>@topic.Title</strong></h3>
                                </div>
                                <div class="card-body">
                                    <h4><strong>@topic.Description</strong></h4>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6><strong>Videos:</strong></h6>
                                            @foreach (var video in topic.Videos)
                                            {
                                                <div class="row">
                                                    <a asp-area="Admin" asp-controller="Video" asp-action="Video" asp-route-id="@video.Id">@video.Title</a>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-6">
                                            <h6><strong>Files:</strong></h6>
                                            <div class="col-6">
                                                @foreach (var file in topic.Files)
                                                {
                                                    <div class="row">
                                                        <a asp-area="Admin" asp-controller="Course" asp-action="Download" asp-route-id="@file.SourceId">@file.FileName</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sticky-top">
            @{
                var base64 = Convert.ToBase64String(@Model.Image);
                var userbase64 = Convert.ToBase64String(@Model.Creator.ProfileImage);

                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                var userProfileImage = String.Format("data:image/jpg;base64,{0}", userbase64);

            }

            <img src="@imgSrc" style="width: 18rem;height: 18rem" class="img-thumbnail" />
            <br />
            <div>Instructor:</div>
            <img src="@userProfileImage" style="width: 18rem;height: 18rem" class="img-thumbnail" />
            <p>@Model.Creator.FirstName @Model.Creator.LastName</p>
            <p>@Model.Creator.Email</p>
            <p><strong>Price: @Model.Price LV.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form asp-action="Approve" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-block btn-success btn-lg">Approve</button>
            </form>
        </div>
        <div class="col-6">
            <form asp-area="Admin" asp-controller="Course" asp-action="Delete" asp-route-courseId="@Model.Id" method="post">
                <button type="submit" class="btn btn-block btn-danger btn-lg">Delete</button>
            </form>
        </div>
    </div>
    <div class="row">
        <form asp-controller="Email" asp-action="SendToEmail" method="post">
            <div class="row">
                <input name="id" value="@Model.Id" hidden />
                <label for="message" class="control-label">
                    Message:
                    <textarea class="form-control" name="message" rows="2" style="min-width: 100%"></textarea>
                </label>
                <button type="submit" class="btn btn-block btn-warning btn-lg">Send Email</button>
            </div>
        </form>
    </div>
    <br />
    <br />
</div>
