@model IEnumerable<CourseListingViewModel>

@{
    ViewData["Title"] = "All Unapproved courses";
}
@if (Model.Count() == 0)
{
    <h1>Theres no Unaproved Courses</h1>
}
else
{
    <div class="container border-dark">
        <div class="row">
            <div class="col-md-10">
                <div class="card-group">
                    @foreach (var course in Model)
                    {
                        <div class="card-group">
                            <div class="card" style="width: 18rem;">
                                @{
                                    var base64 = Convert.ToBase64String(course.Image.Bytes);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                }

                                <img class="card-img-top" src="@imgSrc" alt="@course.Title - @course.Price">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@course.Title - @course.Price lv.</h5>
                                </div>
                                <div>
                                    <a asp-controller="Course" asp-action="Details" asp-route-Id="@course.Id" class="btn btn-primary">Review Course</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

